apiVersion: kots.io/v1beta1
kind: Config
metadata:
  name: kots-validation
spec:
  groups:
    - name: database
      title: Database
      description: Database Options
      items:
        - name: postgres_type
          type: select_one
          title: Postgres
          default: embedded_postgres
          items:
            - name: embedded_postgres
              title: Embedded Postgres
            - name: external_postgres
              title: External Postgres
        - name: embedded_postgres_password
          hidden: true
          type: password
          value: "{{repl RandomString 32}}"
        - name: external_postgres_uri
          title: Postgres URI
          when: '{{repl ConfigOptionEquals "postgres_type" "external_postgres"}}'
          type: password
          default: db.mycompany.internal
