apiVersion: apps/v1
kind: Deployment
metadata:
  name: kotsvalidation-api
spec:
  template:
    spec:
      containers:
        - name: kotsvalidation-api
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: kotsvalidation-mysql
                  key: uri
            - name: FRONTEND_URL
              value: http://127.0.0.1:30080
            - name: COMPANY_NAME
              value: '{{repl ConfigOption "company_name" }}'

